body {
    background-color: rgb(46, 44, 44);
    color: white;
}

button {
    border: none;
    outline: none;
    font-weight: bold;
    padding: 5px;
}

button:hover:not(:disabled) {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.titulo {
    font-weight: bold;
    font-size: 1.3rem;
}

.separador {
    width: 70%;
    border: 1px solid rgb(208, 196, 39);
    margin: 10px auto;
}